body, html {
  background: #274156;
  font-family: Arial, sans-serif;
  color: #FBFCFF;
  text-align: center;
  margin: 0;
}

#titulo__content{
  height: 3em;
}

#subtitulo{
  color: #e3d864;
  display: none;
  margin-top: -1.3em;
}

input{
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border: none;
  padding-left: 5vw;
  font-size: 1.3em;
  box-sizing: border-box;
  height: 2em;
  width: 60vw;
  outline: none;
  color: #FBFCFF;
  background: #1C6E8C;
}

input::placeholder{
  opacity: 0.5;
  color: #FBFCFF;
}

#palabra {
  color: #FBFCFF;
  display: none;
  background: #1C6E8C;
  padding: 1em;
  border-radius: 0.5em;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1.3em;
}

#word{
  font-weight: 700;
}

#category{
  font-style: italic;
}

#example{
  text-decoration: underline solid;
  font-style: italic;
}

#error__message{
  height: 2.5vh;
  width: 20vw;
  text-align: left;
  font-family: Arial, sans-serif;
  font-style: italic;
  font-size: 0.8em;
  color: #FBFCFF;
}

#svg__lupa{
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  background: #1C6E8C;
  height: 2em;
}

#svg__lupa__svg{
  transition: 0.3s;
}

#svg__lupa__svg:hover{
  opacity: 1;
}

#svg__settings{
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  padding-right: 5vw;
  background: #1C6E8C;
  height: 2em;
}

#svg__settings__svg{
  transition: 0.3s;
}

#svg__settings__svg:hover{
  opacity: 1;
  
}

.contenedor {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Puedes ajustar este valor según sea necesario */
}
